<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta name="description" content="Rompo is a furniture company that offers exclusive products at an unbeatable price">
    <meta name="keywords" content="furniture, where to buy furniture, exclusive furniture, cheap furniture">
    <title>Rompo | Homepage</title>

    <%- include("../fragmente/head.ejs") %>
  </head>
  <body>
    <%- include("../fragmente/header.ejs") %>

    <p class="printTitle">Acesta este un proiect școlar!</p>
    <p id="watermark"></p>
    <p id="absolut"></p>

    <div class="landing">
      <picture>
        <source srcset="./resurse/img/landing_mobile.jpg" media="(max-width:700px)"/>
        <source srcset="./resurse/img/landing_medium.jpg" media="(max-width:1200px)"/>
        <img src="./resurse/img/landing_large.jpg" alt="Furniture">
      </picture>
    </div>

    <p>IP: <%- locals.ip %></p>

    <main id="main">
      <section class="about flex-section">
        <h2 class="about__title">About Us</h2>
        <div class="about__cards flex-cards">
          <article class="about__card">
            <h3>Family health</h3>
            <p class="description">Rompo Furniture is <b>non-toxic</b>, tested and certified due to the quality it proves, accredited by <a href="https://www.ul.com/resources/ul-greenguard-certification-program"><abbr title="Greenguard Gold">GG</abbr></a>.</p>
            <a href="#">Details</a>
          </article>
          <article class="about__card">
            <h3>Safety above all</h3>
            <p class="description"> <b>The drawers</b> joined in the dovetail system have <b>an anchoring and anti-detachment system</b>.</p>
            <a href="#">Details</a>
          </article>
          <article class="about__card">
            <h3><b>Durable</b> furniture</h3>
            <p class="description">Made 100% of <b>solid wood</b> of beech and oak, made to last over generations.</p>
            <a href="#">Details</a>
          </article>
          <article class="about__card">
            <h3>Winners for 10 years</h3>
            <blockquote cite="gazetadreptatea.ro" class="description">The newspaper "Dreptatea" offers the award for the best business in the field of furniture in the last 10 years.</blockquote>
            <a href="#">Details</a>
          </article>
        </div>
      </section>

      <section class="grids grid-container" id="table">
        <div class="second-zone table" style="overflow-x:auto;overflow-y:hidden;">
          <table id="customers">
            <caption>Customers</caption>
            <thead>
              <tr>
                <th>Company</th>
                <th colspan="2">Name</th>
                <th>Country</th>
                <th>Salary</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Alfreds Futterkiste</td>
                <td>Maria</td>
                <td>Anders</td>
                <td>Germany</td>
                <td>1000$</td>
              </tr>
              <tr>
                <td>Berglunds snabbköp</td>
                <td>Christina</td>
                <td>Berglund</td>
                <td>Sweden</td>
                <td>2000$</td>
              </tr>
              <tr>
                <td>Centro comercial Moctezuma</td>
                <td>Francisco</td>
                <td>Chang</td>
                <td>Mexico</td>
                <td>1000$</td>
              </tr>
              <tr>
                <td>Ernst Handel</td>
                <td>Roland</td>
                <td>Mendel</td>
                <td>Austria</td>
                <td>1500$</td>
              </tr>
              <tr>
                <td>Island Trading</td>
                <td>Helen</td>
                <td>Bennett</td>
                <td>UK</td>
                <td>1300$</td>
              </tr>
              <tr>
                <td>Königlich Essen</td>
                <td>Philip</td>
                <td>Cramer</td>
                <td>Germany</td>
                <td>1000$</td>
              </tr>
              <tr>
                <td>Laughing Bacchus Winecellars</td>
                <td>Yoshi</td>
                <td>Tannamuri</td>
                <td>Canada</td>
                <td>2000$</td>
              </tr>
              <tr>
                <td>Magazzini Alimentari Riuniti</td>
                <td>Giovanni</td>
                <td>Rovelli</td>
                <td>Italy</td>
                <td>1000$</td>
              </tr>
              <tr>
                <td>North/South</td>
                <td>Simon</td>
                <td>Crowther</td>
                <td>UK</td>
                <td>3000$</td>
              </tr>
            </tbody>
            <tfoot></tfoot>
          </table>
        </div>
        <div class="third-zone">
          <section class="faq flex-section">
            <h2 class="faq__title">FAQ</h2>
    
            <div class="faq__container">
              <details class="faq__container__question">
                <summary>Question #1</summary>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique ab sapiente natus molestias exercitationem quisquam alias, ad odio, excepturi neque, voluptatum perspiciatis repellendus? Excepturi officiis ducimus quaerat quae et quis.</p>
              </details>
              <details class="faq__container__question">
                <summary>Question #2</summary>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique ab sapiente natus molestias exercitationem quisquam alias, ad odio, excepturi neque, voluptatum perspiciatis repellendus? Excepturi officiis ducimus quaerat quae et quis.</p>
              </details>
              <details class="faq__container__question">
                <summary>Question #3</summary>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique ab sapiente natus molestias exercitationem quisquam alias, ad odio, excepturi neque, voluptatum perspiciatis repellendus? Excepturi officiis ducimus quaerat quae et quis.</p>
              </details>
              <details class="faq__container__question">
                <summary>Question #4</summary>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique ab sapiente natus molestias exercitationem quisquam alias, ad odio, excepturi neque, voluptatum perspiciatis repellendus? Excepturi officiis ducimus quaerat quae et quis.</p>
              </details>
            </div>
          </section>
        </div>  
        <div class="fourth-zone">
          <section id="galerie-statica">
            <h2>Empty</h2>
          </section>
        </div>
      </section>

      <section class="collections flex-section">
        <h2 class="collections__title">Collections</h2>
        <div class="collections__cards flex-cards">
          <section class="collections__card">
            <h3>Bucharest Collection</h3>
            <q class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi fugiat vitae aperiam mollitia, ea impedit dignissimos voluptatibus enim deleniti, vel facilis velit magni voluptatem placeat odit ab repellendus expedita perferendis!</q>
            <a href="#">See More</a>
          </section>
          <section class="collections__card">
            <h3>Paris Collection</h3>
            <q class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto voluptas soluta laborum porro maxime sunt aliquam accusantium, quia, hic exercitationem dignissimos? Hic non officiis assumenda pariatur nobis similique perspiciatis deleniti?</q>
            <a href="#">See More</a>
          </section>
          <section class="collections__card">
            <h3>Barcelona Collection</h3>
            <q class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque voluptate laudantium eos odit possimus excepturi saepe quis dolorem nisi? Ea nam deleniti reiciendis, obcaecati voluptatem vel voluptatibus vitae maxime dolor?</q>
            <a href="#">See More</a>
          </section>
        </div>
      </section>

      <section id="galerie-statica" class="container">
        <h2>Galerie</h2>
        <div id="grid-galerie">
          <% for (let img of locals.images) {
             %>
              <figure class="image-<%- img.position %>">
                <picture>
                  <source srcset="<%- img.path_name_phone %>" media="(max-width:500px)" />
                  <source srcset="<%- img.path_name_medium %>" media="(max-width:1000px)" />
                  <img src="<%- img.path_name %>" alt="imagine">
                </picture>
                <figcaption class="counter"><%- img.description %></figcaption>
              </figure>
            <%
          } %>
        </div>
      </section>

      <section class="info container">
        <iframe name="iframe" width="560" height="315" src="https://www.youtube.com/embed/1mngMKEkxn0"></iframe>
        <div class="links">
          <div class="iframe-section">
            <div class="trapezoid"></div> 
            <a target="iframe" href="https://www.youtube.com/embed/JwZZw_bEkjo">Video 1</a>
          </div>
          <div class="iframe-section">
            <div class="trapezoid"></div> 
            <a target="iframe" href="https://www.youtube.com/embed/l47G9607PrM">Video 2</a>  
          </div>
        </div>
      </section>
      
      <div class="flex-section container">
        <a href="/resurse/ico/favicon.png" download>
          Download our contact
        </a>
      </div>
    </main>

    <%- include("../fragmente/footer.ejs") %>
  </body>
</html>