<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="description" content="Rompo is a furniture company that offers exclusive products at an unbeatable price">
    <meta name="keywords" content="furniture, where to buy furniture, exclusive furniture, cheap furniture">
    <title>Rompo | Products</title>

    <%- include("../fragmente/head.ejs") %>
  </head>
    <body>
        <%- include("../fragmente/header.ejs") %>

    <main>
        <label> Pret minim: <input type="range" id="inp-pret" value="0" min="0"  max="70"> <span id="infoRange">(0)</span></label>
        <label>Select simplu:
            <select id="inp-categorie">
                <option id="sel-toate" selected value="toate">toate</option>
                <% for (var prop in locals.priceRanges) {
                    if (Object.prototype.hasOwnProperty.call(locals.priceRanges, prop)) { %>
                      <option value="<%- locals.priceRanges[prop] %>"> <%- locals.priceRanges[prop] %> </option>
               <%   }
                  } %>
            </select>
        </label>

        <label> Garantie minima: <input type="range" id="inp-pret" value="0" min="0"  max="70"> <span id="infoRange">(0)</span></label>
        <label>Select simplu:
            <select id="inp-categorie">
                <option id="sel-toate" selected value="toate">toate</option>
                <% for (var prop in locals.guaranteeRanges) {
                    if (Object.prototype.hasOwnProperty.call(locals.guaranteeRanges, prop)) { %>
                      <option value="<%- locals.guaranteeRanges[prop] %>"> <%- locals.guaranteeRanges[prop] %> </option>
               <%   }
                  } %>
            </select>
        </label>

        <label> Garantie minima: <input type="range" id="inp-pret" value="0" min="0"  max="70"> <span id="infoRange">(0)</span></label>
        <label>Select simplu:
            <select id="inp-categorie">
                <option id="sel-toate" selected value="toate">toate</option>
                <% for (var prop in locals.guaranteeRanges) {
                    if (Object.prototype.hasOwnProperty.call(locals.guaranteeRanges, prop)) { %>
                      <option value="<%- locals.guaranteeRanges[prop] %>"> <%- locals.guaranteeRanges[prop] %> </option>
               <%   }
                  } %>
            </select>
        </label>

        <label>Personalizabil:
            <select id="inp-categorie">
                <option id="sel-toate" selected value="toate">toate</option>
                <% for (var prop in locals.guaranteeRanges) {
                    if (Object.prototype.hasOwnProperty.call(locals.guaranteeRanges, prop)) { %>
                      <option value="<%- locals.guaranteeRanges[prop] %>"> <%- locals.guaranteeRanges[prop] %> </option>
               <%   }
                  } %>
            </select>
        </label>

        <p>
            <button id="filtrare">Filtreaza</button> 
            <button id="resetare">Reseteaza</button><br/>
            <button id="sortCrescNume">Sorteaza crescator dupa pret si nume</button>
            <button id="sortDescrescNume">Sorteaza descrescator dupa pret si nume</button>
        </p>
        
        <p id="p-suma">Apăsați Alt+"c" pentru suma preturilor produselor afișate. </p>
        <section id="produse">
            <h2>Produse</h2>
            <div class="grid-produse">
                <% for( let prod of locals.products) { %>
                    <article class="produs" >
                        <h3 class="nume">Nume:  <a href="/products/<%-prod.id %>" ><span class="val-nume"><%- prod.nume%></span></a></h3>
                        <div class="info-prod">
                            <p class="pret">Pret: <span class="val-pret"><%- prod.pret%></span></p>
                            <p class="calorii">Garantie: <span class="val-garantie"><%- prod.garantie%> luni</span></p>
                            <p class="gramaj">Culoare: <span class="val-culoare"><%- prod.culoare%></span></p>
                            <p class="Personalizabil">Personalizabil: <span class="val-personalizabil"><%- prod.personalizabil ? 'Da' : 'Nu'%></span></p>
                        </div>
                        <p class="categorie">Categorie:<span class="val-categorie"><%- prod.categorie%></span></p>
                        <figure>
                            <a href="/products/<%-prod.id %>" ><img src="/resurse/img/products/<%- prod.imagine %>" style="width:50%;height:auto;" alt="[imagine <%- prod.nume %>]" /></a>
                        </figure>
                        <label class="selecteaza-cos">
                            Selectează:<br/>
                            <input type="checkbox" class="select-cos" value="<%-prod.id %>" autocomplete="off">
                        </label>
                    </article>
                <% }%>
            </div>
        </section>
    </main>

    <%- include("../fragmente/footer") %>
    </body>
</html>